/*Button Styles*/

.mobilemelight {
	color: #000000;
	font: 0.688em/1 "Lucida grande", sans-serif;
	padding: 5px 3px;
	text-align: center;
	text-shadow: 0 1px 1px #ffffff;
	background: #fefefe; /* old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 50%, #d8d8d8 51%, #e5e5e5 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(50%,#e3e3e3), color-stop(51%,#d8d8d8), color-stop(100%,#e5e5e5)); /* webkit */
	background: -o-linear-gradient(top, #fefefe 0%,#e3e3e3 50%,#d8d8d8 51%,#e5e5e5 100%); /* opera */
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 112px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.50);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	border: 1px solid rgba(0, 0, 0, 0.50);
	cursor: pointer;
}


.mobilemedark {
	color: #000000;
	font: 0.688em/1 "Lucida grande", sans-serif;
	padding: 5px 3px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	background: #b8c4d1; /* old browsers */
	background: -moz-linear-gradient(top, #b8c4d1 0%, #bbc5cf 23%, #b5bfc9 50%, #929fb0 51%, #899aaf 77%, #8292a1 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c4d1), color-stop(23%,#bbc5cf), color-stop(50%,#b5bfc9), color-stop(51%,#929fb0), color-stop(77%,#899aaf), color-stop(100%,#8292a1)); /* webkit */
	background: -o-linear-gradient(top, #b8c4d1 0%,#bbc5cf 23%,#b5bfc9 50%,#929fb0 51%,#899aaf 77%,#8292a1 100%); /* opera */
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 112px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	border: 1px solid rgba(0, 0, 0, 0.30);
	cursor: pointer;
}

.safarilight {
	color: #ffffff;
	font: 0.688em/1 "Lucida grande", sans-serif;
	padding: 5px 3px;
	text-align: center;
	text-shadow: 0 -1px 1px #000000;
	background: #84899E; /* old browsers */
	background: -moz-linear-gradient(top, #84899E 0%, #515466 50%, #373A49 51%, #84899E 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84899E), color-stop(50%,#515466), color-stop(51%,#373A49), color-stop(100%,#84899E)); /* webkit */
	background: -o-linear-gradient(top, #84899E 0%,#515466 50%,#373A49 51%,#84899E 100%); /* opera */
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 112px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	border: 1px solid rgba(0, 0, 0, 0.20);
	cursor: pointer;
}

.safaridark {
	color: #fff;
	font: 0.688em/1 "Lucida grande", sans-serif;
	padding: 5px 3px;
	text-align: center;
	text-shadow: 0 -1px 1px #000000;
	background: #595C72; /* old browsers */
	background: -moz-linear-gradient(top, #595C72 0%, #292A2D 50%, #101114 51%, #595C72 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595C72), color-stop(50%,#292A2D), color-stop(51%,#101114), color-stop(100%,#595C72)); /* webkit */
	background: -o-linear-gradient(top, #595C72 0%,#292A2D 50%,#101114 51%,#595C72 100%); /* opera */
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 112px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	border: 1px solid rgba(0, 0, 0, 0.20);
	cursor: pointer;
}

.darkbutton {
    color: #000;
	font: 0.688em/1 "Lucida grande", sans-serif;
	padding: 5px 3px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(255,255,255 0.5);
	border: 1px solid rgba(0,0,0,0.2);
    background: -moz-linear-gradient(top, #f2ab2b, #e17b19);
    background: -webkit-gradient(linear, center top, center bottom, from(#f2ab2b), to(#e17b19));
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
    
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	width: 112px;
	cursor: pointer;
}