.btn {
    display: inline-block;
    width: auto;
    padding: .3em 1em;
    margin: .75em 0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    border-radius: 6px;
    line-height: 1.2;
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
    color: #ddd;
}

.btn.small {
    font-size: .75em;
}

.btn.tiny {
    font-size: .65em;
    padding: .6em;
}

.mobilemelight {
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #e3e3e3 50%, #d8d8d8 51%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#e3e3e3 50%,#d8d8d8 51%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	border: 1px solid rgba(0, 0, 0, 0.20);
	color: #444;
}

.mobilemelight:hover {
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 50%, #e7e7e7 51%, #efefef 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 50%,#e7e7e7 51%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    color: #999;
}

.mobilemelight:active {
    background: #e5e5e5;
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #fefefe 100%);
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#fefefe 100%);    
}

.mobilemedark {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
	background: #b8c4d1; /* old browsers */
	background: -moz-linear-gradient(top, #b8c4d1 0%, #bbc5cf 23%, #b5bfc9 50%, #929fb0 51%, #899aaf 77%, #8292a1 100%);
	background: -webkit-linear-gradient(top, #b8c4d1 0%,#bbc5cf 23%,#b5bfc9 50%,#929fb0 51%,#899aaf 77%,#8292a1 100%);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.20), 0 0 1px rgba(0,0,0, .15));	
}

.safarilight {
	text-shadow: 0 1px #000;
	background: #84899E; /* old browsers */
	background: -moz-linear-gradient(top, #84899E 0%, #515466 50%, #373A49 51%, #84899E 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84899E), color-stop(50%,#515466), color-stop(51%,#373A49), color-stop(100%,#84899E)); /* webkit */
	background: -o-linear-gradient(top, #84899E 0%,#515466 50%,#373A49 51%,#84899E 100%); /* opera */
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20), 0 0 1px rgba(0,0,0, .15));
	border: 1px solid rgba(0, 0, 0, 0.20);
	
}

.safaridark {
	color: #fff;
	text-shadow: 0 -1px 1px #000000;
	background: #595C72; /* old browsers */
	background: -moz-linear-gradient(top, #595C72 0%, #292A2D 50%, #101114 51%, #595C72 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595C72), color-stop(50%,#292A2D), color-stop(51%,#101114), color-stop(100%,#595C72)); /* webkit */
	background: -o-linear-gradient(top, #595C72 0%,#292A2D 50%,#101114 51%,#595C72 100%); /* opera */
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20),  0 0 1px rgba(0,0,0, .15);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20), 0 0 1px rgba(0,0,0, .15);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20), 0 0 1px rgba(0,0,0, .15);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20), 0 0 1px rgba(0,0,0, .15);
	border: 1px solid rgba(0, 0, 0, 0.20);
	
}

.redbutton {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.30);
	background: rgb(198,48,49); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(198,48,49) 0%, rgb(165,40,44) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(198,48,49)), color-stop(100%,rgb(165,40,44))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(198,48,49) 0%,rgb(165,40,44) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(198,48,49) 0%,rgb(165,40,44) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(198,48,49) 0%,rgb(165,40,44) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(198,48,49) 0%,rgb(165,40,44) 100%); /* W3C */
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
}

.orangebutton {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.30);
	background: rgb(227,178,93); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(227,178,93) 0%, rgb(230,137,57) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(227,178,93)), color-stop(100%,rgb(230,137,57))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(227,178,93) 0%,rgb(230,137,57) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(227,178,93) 0%,rgb(230,137,57) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(227,178,93) 0%,rgb(230,137,57) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(227,178,93) 0%,rgb(230,137,57) 100%); /* W3C */
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
}

.yellow {
	color: #A07829;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.30);
	background: rgb(249,208,133); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(249,208,133) 0%, rgb(245,177,72) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,208,133)), color-stop(100%,rgb(245,177,72))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* W3C */
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 0.20);
}
.yellow:hover {
	color: #A07829;
	background: rgb(249,215,152); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(249,215,152) 0%, rgb(249,198,116) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,215,152)), color-stop(100%,rgb(249,198,116))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(249,215,152) 0%,rgb(249,198,116) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(249,215,152) 0%,rgb(249,198,116) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(249,215,152) 0%,rgb(249,198,116) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(249,215,152) 0%,rgb(249,198,116) 100%); /* W3C */
	-webkit-box-shadow: 0 0 10px rgba(250, 201, 122, 1);
	-moz-box-shadow:0 0 10px rgba(250, 201, 122, 0.80);
	-o-box-shadow:0 0 10px rgba(250, 201, 122, 0.80);
	box-shadow:0 0 10px rgba(250, 201, 122, 0.80);
}
.yellow:active {
	color: #A07829;
	background: rgb(249,208,133); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(249,208,133) 0%, rgb(245,177,72) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,208,133)), color-stop(100%,rgb(245,177,72))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(249,208,133) 0%,rgb(245,177,72) 100%); /* W3C */
	-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.30);
	-o-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.30);
	box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.30);
}

.dark {
	background: #6a6a6a; /* Old browsers */
	background: -moz-linear-gradient(top, #6a6a6a 0%, #464646 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a6a6a), color-stop(100%,#464646)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6a6a6a 0%,#464646 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6a6a6a 0%,#464646 100%); /* Opera11.10+ */
	background: linear-gradient(top, #6a6a6a 0%,#464646 100%); /* W3C */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	bordr-radius: 6px;
	border: 1px solid #464646;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}
.dark:hover {
	background: #848484; /* Old browsers */
	background: -moz-linear-gradient(top, #747474 0%, #404040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#404040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #848484 0%,#606060 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #848484 0%,#606060 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #848484 0%,#606060 100%); /* IE10+ */
	background: linear-gradient(top, #848484 0%,#606060 100%); /* W3C */
}
.dark:active {
	background: #464646; /* Old browsers */
	background: -moz-linear-gradient(top, #464646 0%, #6a6a6a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#6a6a6a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #464646 0%,#6a6a6a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #464646 0%,#6a6a6a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #464646 0%,#6a6a6a 100%); /* IE10+ */
	background: linear-gradient(top, #464646 0%,#6a6a6a 100%); /* W3C */
	box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

.light {
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	border: 1px solid #bfbfbf;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.15);
	color: #444;
}

.light:hover {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
}
.light:active {
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
}

.tunesgrey {
    background: #8c8e94;
    background: -moz-linear-gradient(top, #8c8e94 0%, #7d7f86 47%, #767880 48%, #75777f 100%);
    background: -webkit-linear-gradient(top, #8c8e94 0%,#7d7f86 47%,#767880 48%,#75777f 100%);    color: #fff;
    text-shadow: 0 -1px 0 #000;
    box-shadow: inset 0 1px 1px rgba(0,0,0, .19);
    border: 1px solid #686a72;
}

.tunesgreen {
    background: #7cc160;
    background: -moz-linear-gradient(top, #7cc160 0%, #78bd5c 46%, #71b656 47%, #69af4f 100%);
    background: -webkit-linear-gradient(top, #7cc160 0%,#78bd5c 46%,#71b656 47%,#69af4f 100%);
    text-shadow: 0 -1px 0 #2c7817;
    box-shadow: inset 0 1px 1px rgba(0,0,0, .1);
    border: 1px solid rgba(0, 0, 0, .2);
}

.yellow {
    background-color: #FED764;
    background-image: -webkit-gradient(linear, left top, left bottom, to(#FED764), from(#FDBE4E));
    background-image: -webkit-linear-gradient(top, #FED764, #FDBE4E);
    background-image: -moz-linear-gradient(top, #FED764, #FDBE4E);
    background-image: -o-linear-gradient(top, #FED764, #FDBE4E);
    background-image: linear-gradient(top, #FED764, #FDBE4E);
    border: 1px solid #F9B654;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, .1);
}