/*  General Reset*/
html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, caption,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/* Page specific
------------------------------------------------------------------------------*/
body {
  background: #e7e7e7;
  color: #444;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 40px auto;
  width: 50%;
}

a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
}

a:hover {
	color: #999;
}

h1 {
  font-size: 38px;
  font-weight: 300;
  margin: 24px 0 12px 0;
}


footer {
  border-top: 1px dashed #a7a7a7;
  font-size: 14px;
  margin: 36px 0 12px 0;
  padding: 6px 0 0 0;
}


.button-collection {
  border-top: 1px dashed #a7a7a7;
  margin: 24px 0 36px 0;
  padding: 4px 0 12px 0;
}

.button-info {
  float: left;
  margin: 0 40px 0 0;
  width: 245px;
}


.button-info p {
  font-size: 14px;
}

ul.column {
  margin: 0 auto;
  list-style: none;
  width: 90%;
}

ul.column li {
  background: #f6f6f6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 10px 10px 0;
  display: block;
  height: 150px;
  text-align: center;
  width: 215px;
}

li a.button {
  position:relative;
  top: 60px;
}


/*Clearfix*/
.group:after {
	content:".";
	display: block;
	height:0;
	clear:both;
	visibility:hidden;
}